@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
    background-color:white;
    font-family:'Roboto Slab', serif;
}
nav{

    background-color:#4F4b5C;
    height:75px;
    width:100%;
    z-index:1;
}
nav .titre{
    display:inline-block;
    margin-left:5%;
    margin-top:10px;
    padding:10px 0;
}
nav .titre h5{
    color:white;
}
nav .icon{

    display: inline-block;
    margin-left:13.5%;
}
.red:hover{
    color:red;
}
nav .rouge{
    background-color:red;
    height:13px;
    width:40%;
    margin-left:60%;
    margin-top:;
}
nav .icon ul li{
    padding:0 10px;
    color:white;
    font-size:30px;
}
nav .titre h5 span{
    color:red;
}
.container-fluid .row .center{
    margin-left:22%;
    margin-top:16%;
    border-radius:solid 2px;
}
.container-fluid .row .center img{
    border:solid #4F4b5C 8px;
    box-shadow:0 0 20px #aaaaaa;
}
.container-fluid .group .ron1{
    width:18%;
    height:20%;
    
}
.container-fluid .group .ron2{
    width:17%;
    height:19%;
   
}
.container-fluid .group .ron3{
    width: 17%;
    height:19%;
   
}
.container-fluid .group .ron4{
    width:17%;
    height:19%;
   
}
.container-fluid .group{
    position:absolute;
    font-size: 20px;
    top:16%;
    width:47%;
    height:85vh;
    right:50%;
 }
.container-fluid .group .ron2, .ron3, .ron4{
    margin:14px 0;
}
.container-fluid .group .ron1{
    margin-left:38%;
   
}
.container-fluid .group .ron2{
    margin-left:15%;
    
}
.container-fluid .group .ron3{
    margin-left: 15%;
    margin-top:10%;
    
}
.container-fluid .group .ron4{
    margin-left: 35%;
    margin-top:5%;  
}
.text{
    display:inline-block;
    margin-top:40%;
    margin-left:15%;
    color:#4F4b5C;
}
.couleur:hover{
    background-color: red;
}
.text:hover{
    text-decoration:none;
    color:white;
}
.container-fluid .moi{
    position: absolute;
    bottom:67%;
    left:60%;
    padding:15px 0;
    width:40%;
}
.container-fluid .moi span{
    color:red;
    font-size:40px;
}
.container-fluid .moi h3{
    font-size:50px;
    color:#4F4b5C;
}
.container-fluid .moi p{
    font-size:20px;
    color:#4F4b5C;
    text-align: justify;
}
.container-fluid .info{
    position:absolute;
    left:60%;
    bottom:9%;
}
.container-fluid .info ul li{
    color:#4F4b5C;
    list-style-type:none;
    padding:10px 0;
    text-align: justify;
}
.container-fluid .info ul li i{
    margin-right:20px;
    font-size: 20px;
}
.container-fluid .info p{
    margin-bottom: 7%;
    margin-right:5px;
    color:#4F4b5C;
}
.container-fluid .info div button:first-child{
   box-shadow:0 0 15px #4F4b5C;
}
.container-fluid .info div button:last-child{
    box-shadow:0 0 15px red;
}
.btn1{
    width:100%;
    border-radius:20px;
}
.brd{
    border-radius:20px;
}
.container .row .col-md ul.list li{
    padding:0 20px;
    color:#4F4b5C;
    display:inline-block;
    list-style-type:none;
}
.container .row .col-md ul.list{
    margin:10px 0;
    margin-left:20%;
}
.container .row .col-md ul.list li{
    font-size:50px;
}
.coouleur{
    color: #385c96;
}
.coouleur1{
    color: #29ace0;
}
.coouleur2{
    color:red;
}
.coouleur3{
    color:#314f75;
}
.coouleur4{
    color: #107bbf;
}
.coouleur5{
    color:#4c799D;
}
.coouleur6{
    color: #ed2c3d;
}
.container{
    margin-top:8%;
}
.container .row .mx-auto{
    padding:4% 0;
}
footer{
    margin-top:5%;
    text-align: center;
}
footer a{
    color:red;
}
.container .row .titre span{
    font-size: 40px;
    color:red;
}
.container .row .titre h3{
    color:#abb0ac;
}
.container .row .titre #croi{
    font-size: 20px;
    margin-left:496px;
    color:#4F4b5C;
}
.container .row .titre #croi a{
    display:inline-block;
    color:#4F4b5C;
    width:30px;
    height:30px;
}
.container .row .titre #croi a:hover {
    text-decoration:none;
    color:white;
    background-color: red;
    border-radius:50%;
    text-align: center;
}
.container .row .cadre{
    color:#4F4b5C;
    border-bottom: solid 5px;
}
.container .row .titr{
    margin-left:28%;
    padding:3%;
    color:#4F4b5C;
}
.container .row .tit{
    margin-left: 34%;
    padding:3%;
}